<table class="table table-striped">
  <thead>
    <tr>
      <td>
        <div class="card-center">
          <h5>
            client
          </h5>
        </div>
      </td>
      <td>
        <div class="card-center">
          <h5>
            annonce
          </h5>
        </div>
      </td>
      <td>
        <div class="card-center">
          <h5>
            date de publication
          </h5>
        </div>
      </td>
      <td>
        <div class="card-center">
          <h5>
            facture
          </h5>
        </div>
      </td>
    </tr>
  </thead>
  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td>
          <div class="card-center">
            <div class="circle">
              <%= announcement.customer_name %>
            </div>
          </div>
        </td>
        <td>
          <div class="card-center">
            <p>
            <%= announcement.title %>
            </p>
          </div>
        </td>
        <td>
          <div class="card-center">
            <p>
              <%= announcement.date_format%>
            </p>
          </div>
        </td>
        <td>
          <div class="card-center">
            <% if announcement.bill_id == nil %>
              <p>
                <%= link_to "facture", announcement_bills_path(announcement), method: :post %>
              </p>
            <% else %>
              <p>
                ref :  <%= announcement.bill.reference_bill %>
                <%= link_to "pdf", announcement_bill_path(announcement, announcement.bill_id, format: :pdf)  %>
              </p>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
