<h3>Voici la facture pour l'annonce ref: <strong><%= @bill.reference_bill %></strong> ,
pour le client : <strong><%= @bill.customer_name %></strong> </h3>

<h4>annonce : <%= @bill.title %></h4>
<h5>date de publication : <%= @bill.date_of_publication %></h5>
<h5>date de facturation : <%= @bill.date_format %></h5>
<h5>montant : <%= @bill.price %>€</h5>
<h5>ref : <%= @bill.reference_bill %></h5>
